# Werkcollege-opdrachten Week 1.1

## Maak een virtual environment

Zorg dat je met behulp van de handleiding *Bouw en gebruik van virtual environments - Handleiding* een virtual environment hebt gemaakt, dat jou en je duopartner garandeert altijd dezelfde versie van geïmporteerde dependencies te gebruiken.<br>
Voeg hier vervolgens de pandas- en de sqlite3-dependency aan toe.<br>
Als je dit allemaal goed hebt gedaan moet de onderstaande code bij jullie allebei succesvol runnen:

In [4]:
import pandas as pd
import sqlite3
import warnings
warnings.simplefilter('ignore')

N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

Zorg er daarnaast voor dat je...
- Het bestand Waarheidstabel.png in dezelfde map als dit notebook hebt staan.
- Het bestand Prinstabel.png in dezelfde map als dit notebook hebt staan.
- Alle informatie onder het kopje *Basisoperaties* van de cheatsheet *Van Java naar Python - Cheatsheet* bij de hand hebt.

## Output, variabelen en input

Geef code waarmee het volgende op het scherm komt te staan:<br>
geef me je geld <br>
of ik gebruik geweld, <br>
toen kwam de controle aangesneld

In [5]:
print("geef me je geld")
print("of ik gebruik geweld")
print("toen kwam de controle aangesneld")

geef me je geld
of ik gebruik geweld
toen kwam de controle aangesneld

Declareer 2 variabelen zodat de volgende tekst geprint wordt:<br>
Apenhoofd<br>
Paardenstaart

In [6]:
woord1 = "Apenhoofd"
woord2 = "Paardenstaart"

print(woord1)
print(woord2)

Apenhoofd
Paardenstaart

Voeg code toe zodat het programma het volgende doet:<br>
1): Op het scherm komt A, B, C, D, ..., F, G te staan<br>
2): De gebruiker voert een letter in<br>
3): Op het scherm komt te staan:<br>
Het is inderdaad:<br>
*ingevoerde letter*

In [7]:
ingevoerde_letter = input("Voer letter in:")

print(ingevoerde_letter)

D

## Stringconcatenatie en Rekenen

Schrijf code dat een inkomen inleest en het volgende uitprint:<br>
Uw inkomen (*ingelezen inkomen*) is zeer acceptabel.

In [8]:
inkomen = int(input("Voer uw inkomen in:"))

print("Uw inkomen", inkomen, "is zeer acceptabel.")

Uw inkomen 1200 is zeer acceptabel.

De oppervlakte van een driehoek is 1/2 * hoogte * basis<br>
Schrijf code zodat het programma het volgende doet:<br>
1): Op het scherm komt Wat is de basis? te staan<br>
2): De gebruiker voert een basis in<br>
3): Op het scherm komt Wat is de hoogte? te staan<br>
4): De gebruiker voert een hoogte in<br>
5): Op het scherm komt: De oppervlakte van de driehoek is *berekende oppervlakte* te staan

In [9]:
basis = float(input("Wat is de basis?"))
hoogte = float(input("Wat is de hoogte?"))

def oppervlakte(basis, hoogte):
    return 0.5 * hoogte * basis

print("De oppervlakte van de driehoek is", oppervlakte(basis, hoogte))

De oppervlakte van de driehoek is 104.375

## if() en booleans

Schrijf code dat het volgende doet:<br>
1): De gebruiker voert in hoe oud iemand is<br>
2): De gebruiker voert in of de ouders meegekomen zijn (input is J of N)<br><br>

Als...
- Jonger dan 6, wel ouders: op het scherm staat Je mag het zwembad in
- Jonger dan 6, geen ouders: op het scherm staat Je mag het niet zwembad in
- Leeftijd vanaf 6, geen ouders: op het scherm staat Je mag het zwembad in als je een diploma hebt
- Leeftijd vanaf 6, wel ouders: op het scherm staat Waarom neem je nog je ouders mee?

In [10]:
leeftijd = int(input("Wat is je leeftijd?"))
def ouders_mee(ouders_mee):
    if(ouders_mee == "J"):
        return True
    else:
        return False

ouders_mee = ouders_mee(input("Zijn je ouders mee?"))

def zwembad_toegang(leeftijd, ouders_mee):
    if(leeftijd < 6):
        if(ouders_mee):
            print("Je mag het zwembad in")
        else:
            print("Je mag het zwembad niet in")
    else:
        if(ouders_mee):
            print("Waarom neem je nog ouders mee?")
        else:
            print("Je mag het zwembad in als je een diploma hebt")

zwembad_toegang(leeftijd, ouders_mee)

Je mag het zwembad in als je een diploma hebt

Schrijf code zodat de boolean-variabelen een en twee aangemaakt worden en waarmee de juiste waarde in de boolean-variabele uitkomst komt te staan. In de waarheidstabel hieronder staat wat de waarde van uitkomst is bij de verschillende mogelijke combinaties van een en twee.<br><br>
<img src="Waarheidstabel.png">

In [11]:
def waarheidstabel(een, twee):
    if(een):
        if(twee):
            print("Waar")
        else:
            print("Onwaar")
    else:
            print("Waar")

waarheidstabel(True, False)
waarheidstabel(True, True)
waarheidstabel(False, False)

Onwaar
Waar
Waar

## Functies

Schrijf een methode wachtwoord die als parameters twee woorden meekrijgt en het volgende controleert:
- Als de woorden gelijk zijn, print het programma gelijk.
- Als de woorden ongelijk zijn print het programma ongelijk.

Vergeet niet dat je de methode niet alleen aan moet maken, maar ook aan moet roepen om output te krijgen.

In [12]:
def wachtwoord_controle(woord1, woord2):
    if(woord1 == woord2):
        return True
    else: 
        return False
    
print(wachtwoord_controle("Help", "mij"))
print(wachtwoord_controle("Kloptgwn","Kloptgwn"))

False
True

Schrijf de methode zoekPrins die als parameter een prinses meekrijgt en vervolgens de bijbehorende prins oplevert, volgens de volgende tabel:<br><br>
<img src="Prinstabel.png"><br>
Als de naam van de prinses niet in de tabel staat wordt het volgende door de methode teruggegeven: naamloos.<br>
Roep ten slotte de gemaakte methode ook daadwerkelijk aan met een zelfgekozen prinsessennaam.

In [13]:
prins = {
  "Aurora": "Philip",
  "Ariël": "Eric",
  "Jasmine": "Aladdin",
  "Pocahontas": "John",
  "Belle": "Beast",
  "Tiana": "Naveen",
  "Mulan": "Shang",
}

def zoekPrins(prinses):
    return prins.get(prinses, "naamloos")

print(zoekPrins("Aurora"))
print(zoekPrins("Milena"))

Philip
naamloos

## While-loop

Schrijf de inhoud van de methode wachtwoord. Deze heeft geen parameters en laat de gebruiker twee wachtwoorden invoeren, waarna hij bekijkt of deze gelijk zijn. Zolang dat niet het geval is wordt er eerst Fout, probeer het opnieuw! uitgeprint en moet de gebruiker het opnieuw proberen.<br>Als de gebruiker het goed doet, komt er Succes! op het scherm te staan.

In [14]:
def wachtwoord():
    inCorrect = True
    while(inCorrect):
        woord1 = input("woord1:")
        woord2 = input("woord2:")
        if(woord1 == woord2):
            print("Succes!")
            inCorrect = False
        else: 
            print("Fout!")
            print("Probeer opnieuw.")
        
wachtwoord()

Succes!

Schrijf de inhoud van de methode tafels. De methode print alle tafels vanaf 1 (dus inclusief de tafel van 1) tot en met de tafel van het meegekregen getal (dus inclusief de tafel van getal).  Zet een witregel tussen alle tafels in. <br>
Let op:
- Gebruik een while-loop
- Gebruik de reeds geschreven methode tafel om een tafel uit te printen

In [15]:
def tafel(getal: int):
    teller: int = 1

    while(teller <= 10):
        print(f'{teller} x {getal} = {teller * getal}')
        teller += 1

x: int = int(input())
tafel(x)

ValueError: invalid literal for int() with base 10: ''

## For-loop

Vervang de while-loop door een werkende for-loop. De uitkomst van het programma mag daarbij niet veranderen.

In [ ]:
def loopje():
    for aantal in range(1, 11) :
        print(f"huidige getal: {aantal}")

loopje()

Schrijf de methode checkEven die achtereenvolgens 12 getallen inleest en afdrukt hoe vaak het ingevoerde getal even was.

In [ ]:
def checkEven():
    lijst =  []
    for x in range(12):
        getal = int(input("Voer een cijfer in:"))
        lijst.append(getal)

    aantalEven = 0
    for getal in lijst:
        if ((getal % 2) == 0): 
            aantalEven += 1

    return aantalEven

checkEven()

## Objectoriëntatie

Maak een minisysteem voor een kledingwinkel. Maak verschillende klassen voor verschillende soorten kledingstukken, waarbij sommige klassen geërfd worden van andere klassen.
- Maak een klasse Kledingstuk aan, waarin door de constructor een merk, een maat en een prijs geïnitialiseerd worden.
- Maak een klasse Broek en een klasse Shirt, beide erven van de klasse Kledingstuk. Voeg aan Broek een broek_type, en aan Shirt een shirt_type toe (d.m.v. constructorgebruik).
- Maak een klasse Spijkerbroek die erft van broek en een klasse Poloshirt die erft van shirt. Voeg aan Spijkerbroek een blauwtint toe, en aan Poloshirt een kraagsoort (d.m.v. constructorgebruik).
- Implementeer in elke klasse een beschrijvingmethode, waarmee alle informatie over het betreffende kledingstuk wordt afgedrukt.
- Maak van elke klasse een object aan en roep de beschrijvingmethode aan. Controleer nauwkeurig of alles naar behoren werkt.

In [ ]:
class Kledingstuk:
    def __init__(self, merk, maat, prijs):
        self.merk = merk
        self.maat = maat
        self.prijs = prijs

    def beschrijving(self):
        for naam, waarde in self.__dict__.items():
            print(f"{naam} : {waarde}")

class Broek(Kledingstuk):
    def __init__(self, merk, maat, prijs, broek_type):
        super().__init__(merk, maat, prijs)
        self.broek_type = broek_type


class Shirt(Kledingstuk):
    def __init__(self, merk, maat, prijs, shirt_type):
        super().__init__(merk, maat, prijs)
        self.shirt_type = shirt_type


class Spijkerbroek(Broek):
    def __init__(self, merk, maat, prijs, broek_type, blauwtint):
        super().__init__(merk, maat, prijs, broek_type)
        self.blauwtint = blauwtint


class Poloshirt(Shirt):
    def __init__(self, merk, maat, prijs, shirt_type, kraagsoort):
        super().__init__(merk, maat, prijs, shirt_type)
        self.kraagsoort = kraagsoort

poloshirt = Poloshirt("Lacoste", "XL", 75, "Poloshirt", "V-Hals")
spijkerbroek = Spijkerbroek("Carhart", "L", 120, "Spijkerbroek", "Baggy")
shirt = Shirt("RipnDip", "L", 65, "shirt")
broek = Broek("Nike", "M", 50, "Joggin")
kledingstuk = Kledingstuk("Moncler", "M", 300)

poloshirt.beschrijving()
spijkerbroek.beschrijving()
shirt.beschrijving()
shirt.beschrijving()
broek.beschrijving()
kledingstuk.beschrijving()

## Verzamelingen

Kijk nu naar alle info onder het kopje *Verzamelingen* van de cheatsheet *Van Java naar Python - Cheatsheet*.

Initialiseer een lijst met de naam mijn_lijst met de volgende waarden:<br>
Jelle, Marleen, Henk, Fatima, Jelle, Henk

In [ ]:
mijn_lijst = ["Jelle", "Marleen", "Henk", "Fatima", "Jelle", "Henk"]

Probeer nu de eerste waarde uit te lijst te veranderen in een naam naar keuze. Lukt dat?

In [ ]:
mijn_lijst[0] = "Mees"

Maak van bovengenoemde lijst nu een tupel, genaamd: mijn_tupel.

In [ ]:
mijn_tupel = ("Jelle", "Marleen", "Henk", "Fatima", "Jelle", "Henk")

Probeer nu de laatste waarde uit te tupel te veranderen in een naam naar keuze. Lukt dat?

In [ ]:
mijn_tupel[-1] = "Mees"

Initialiseer een dictionary met de volgende key-value-combinaties:
- naam: "Jelle"
- leeftijd: 30
- beroep: "Docent"
- hobby: "Volleybal"

In [ ]:
persoon = {
    "naam":"Jelle",
    "leeftijd":30,
    "beroep":"Docent",
    "hobby":"Volleyball"
}

Probeer nu de naam te veranderen naar een naam naar keuze. Lukt dat?

In [ ]:
persoon["naam"] = "Niet Jelle"

## Data klaarzetten

Zet de volgende bestanden in een makkelijk terug te vinden map:
- go_sales.sqlite
- go_crm.sqlite
- go_staff.sqlite

Bestudeer de bovenste 3 bestanden met DB Browser (SQLite) dat <a href="https://sqlitebrowser.org/dl/">hier</a> te downloaden is. Wat valt je op qua datatypen?<br>

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales.sqlite. Let op: deze staat in de map "data", die op zijn beurt in de hoofdmap staat. Tip: met `"../"` in `connect()` kun je naar de bovenliggende map gaan.

In [47]:
conn = sqlite3.connect("go_sales.sqlite")
cursor = conn.cursor()
print("Verbonden met database")

Verbonden met database

<b>Let goed op:</b><br>
Als je per ongeluk een verkeerde bestandsnaam ingeeft, maakt Python zélf een leeg databasebestand aan! Er ontstaat dan dus een nieuwe .sqlite, en dat is nadrukkelijk <u>niet de bedoeling.</u>

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales zitten.

In [49]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"

#Vul dit codeblok verder in
cursor.execute(sql_query)

tables = cursor.fetchall()

print("Tabellen:", tables)

Tabellen: [('country',), ('order_details',), ('order_header',), ('order_method',), ('product',), ('product_line',), ('product_type',), ('retailer_site',), ('return_reason',), ('returned_item',), ('sales_branch',), ('sales_staff',)]

Krijg je lege output? Dan heb je per ongeluk een leeg  databasebestand (.sqlite) aangemaakt.<br>
Lees de informatie onder het kopje <b>Let goed op:</b> hierboven nog eens goed door.

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [50]:
query = "SELECT * FROM sales_staff"

dataFrame = pd.read_sql_query(query, conn)

## Datumkolommen afhandelen

Zoals je misschien al hebt gezien in DB Browser, zijn datums als TEXT opgeslagen, en niet als DATE, DATETIME o.i.d. Hier moeten we dus nog even "typische datumkolommen" van maken. Dat doen we met de volgende code:

In [51]:
dataFrame['DATE_HIRED'] = pd.to_datetime(dataFrame['DATE_HIRED'])
dataFrame.dtypes

SALES_STAFF_CODE              int64
FIRST_NAME                      str
LAST_NAME                       str
POSITION_EN                     str
WORK_PHONE                      str
EXTENSION                   float64
FAX                             str
EMAIL                           str
DATE_HIRED           datetime64[us]
SALES_BRANCH_CODE             int64
dtype: object

Als we hier het jaar uit willen halen, schrijven we:

In [52]:
pd.DatetimeIndex(dataFrame['DATE_HIRED']).year
pd.DatetimeIndex(dataFrame['DATE_HIRED']).month

Index([11,  6,  4,  8,  2,  6,  1,  3,  7,  9,
       ...
        7,  1, 10,  2,  9, 11, 12, 12, 10,  2],
      dtype='int32', name='DATE_HIRED', length=102)

Deze zelfde syntax is te gebruiken voor het extraheren van kwartalen, maanden, weken en dagen. Probeer het maar eens!

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [53]:
sales_staff_code = dataFrame["SALES_STAFF_CODE"]
work_phone = dataFrame["WORK_PHONE"]
extension = dataFrame["EXTENSION"]
fax = dataFrame["FAX"]
email = dataFrame["EMAIL"]

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?

In [54]:
contact_details = pd.concat([sales_staff_code, work_phone, extension, fax, email], axis=1)

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [33]:
top5 = contact_details.head(5)

Aan deze 10 rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [34]:
first_lang = ['EN', 'EN', 'EN', 'EN', 'EN']

first_lang_serie = pd.Series(first_lang)

top5['FIRST_LANGUAGE'] = first_lang_serie

top5['FIRST_LANGUAGE']

0    EN
1    EN
2    EN
3    EN
4    EN
Name: FIRST_LANGUAGE, dtype: str

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het rsultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [35]:
second_lang = {
    0:"FR",
    1:"FR",
    2:"FR",
    3:"DE",
    4:"DE",
}

second_lang_serie = pd.Series(second_lang)

top5['SECOND_LANGUAGE'] = second_lang_serie

top5['SECOND_LANGUAGE']

0    FR
1    FR
2    FR
3    DE
4    DE
Name: SECOND_LANGUAGE, dtype: str

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?

In [ ]:
third_lang = {
    "THIRD_LANGUAGE": ["NL", "NL", "JPN", "JPN", "KOR"]
}

third_lang_df = pd.DataFrame(third_lang)

top5_df = pd.concat([top5, third_lang_df], axis=1)

top5_df['THIRD_LANGUAGE']

0     NL
1     NL
2    JPN
3    JPN
4    KOR
Name: THIRD_LANGUAGE, dtype: str

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?

In [63]:
nieuwe_rij = pd.DataFrame([
    [130, "Mees", "Rehorst", "Big BOSS", "+31 6 12 34 56 78", 325.0, "+31 6 12 34 56 78", "Meesr@grtd123.com", "1998-01-18", 39, "Mees Rehorst"]
], columns=dataFrame.columns)

dataFrame = pd.concat([dataFrame, nieuwe_rij], ignore_index=True)

In [64]:
dataFrame.tail(1) #Testen of mijn code werkt!

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,FULL_NAME
102,130,Mees,Rehorst,Big BOSS,+31 6 12 34 56 78,325.0,+31 6 12 34 56 78,Meesr@grtd123.com,1998-01-18,39,Mees Rehorst

### Kolommen

Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.

In [ ]:
dataFrame["FULL_NAME"] = dataFrame["FIRST_NAME"] + " " + dataFrame["LAST_NAME"]

dataFrame["FULL_NAME"].tail(1) #Testen of mn naam er in staat

102    Mees Rehorst
Name: FULL_NAME, dtype: str

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

In [68]:
dataFrame.dtypes

SALES_STAFF_CODE       int64
FIRST_NAME               str
LAST_NAME                str
POSITION_EN              str
WORK_PHONE               str
EXTENSION            float64
FAX                      str
EMAIL                    str
DATE_HIRED            object
SALES_BRANCH_CODE      int64
FULL_NAME                str
dtype: object

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [ ]:
dataFrame['EXTENSION'] = dataFrame['EXTENSION'].astype(int)
dataFrame.dtypes

SALES_STAFF_CODE       int64
FIRST_NAME               str
LAST_NAME                str
POSITION_EN              str
WORK_PHONE               str
EXTENSION            float64
FAX                      str
EMAIL                    str
DATE_HIRED            object
SALES_BRANCH_CODE      int64
FULL_NAME                str
dtype: object

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [74]:
dataFrame['EXTENSION'] = dataFrame['EXTENSION'].astype(float)
dataFrame.dtypes

SALES_STAFF_CODE       int64
FIRST_NAME               str
LAST_NAME                str
POSITION_EN              str
WORK_PHONE               str
EXTENSION            float64
FAX                      str
EMAIL                    str
DATE_HIRED            object
SALES_BRANCH_CODE      int64
FULL_NAME                str
dtype: object

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

## Data verwijderen

### Rijen

De medewerkers op indexen 98, 99 en 100 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.